#footerPage {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

    #footerPage > h1 {
        font-size: 40px;
        letter-spacing: 2px;
    }

    #contactSpace {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

        .moveTo {
            text-decoration: none;
            color: #000000;
            background-color: #00ffff;
            box-shadow: inset 0 0 20px #008888;
            border-radius: 40px;
            transition: all 1s;
        }

        .moveTo:hover {
            transform: scale(1.04);
        }

            .contacts {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                padding: 6px 12px;
            }

                .contacts > img {
                    width: 40px;
                    border-radius: 50%;
                }

@media screen and (max-width: 420px) {
    #contactSpace {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}