body {
    background: linear-gradient(125deg, #222222 0%, #7e7e7e 50%, #000000 100%);
    color: #ffffff;
}

    #header {
        height: 90vh;
        position: relative;
        text-align: center;
        background-image: url(https://wallpapercave.com/wp/wp5997701.png);   
        background-repeat: round;
        background-size: cover;
        overflow: hidden;
    }

        #greeting {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            height: 90vh;
        }

            #myFace {
                border-radius: 50%;
                width: 230px;
            }

            #greetingTXT {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
            }

                #bounce {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    gap: 1rem;
                }
            
                    .letter {
                        animation: bounce 0.75s ease infinite alternate;
                        display: inline-block;
                        text-shadow: #7e7e7e 0 0 0.05em;
                        font-size: 6rem;
                    }
                    
                    .letter:nth-of-type(1) {
                        animation-delay: -0.083333333s;
                    }
                    .letter:nth-of-type(2) {
                        animation-delay: 0.0833333333s;
                    }
                    .letter:nth-of-type(3) {
                        animation-delay: 0.1666666667s;
                    }
                    .letter:nth-of-type(4) {
                        animation-delay: 0.25s;
                    }
                    .letter:nth-of-type(5) {
                        animation-delay: 0.3333333333s;
                    }
                    .letter:nth-of-type(6) {
                        animation-delay: 0.4166666667s;
                    }

    #aboutMe {
        display: flex;
        justify-content: center;
        padding: 2rem 1rem;
        background-color: #00000080;
    }

        #aboutMe > img {
            width: 400px;
            border-radius: 10px 0 0 10px;
        }

        #aboutMetxt {
            display: flex;
            flex-direction: column;
            text-align: justify;
            width: 600px;
            background-color: #ffffff;
            color: #000000;
            gap: 10px;
            padding: 10px;
            border-radius: 0 10px 10px 0;
        }

            #aboutMetxt > h1 {
                font-size: 30px;
                text-align: center;
                letter-spacing: 2px;
                text-shadow: 0 0 10px #00ffff;
            }

            #cv {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                background-color: #00ffff;
                color: #000000  ;
                width: 130px;
                padding: 8px;
                border-radius: 20px;
                border: solid 0.5px #0d7777;
                box-shadow: inset 0 0 10px #008888;
            }

                #cv:hover {
                    transform: translateY(-2px);
                    box-shadow: 0 2px 8px #000000, inset 0 0 10px #008888;
                }

    .title {
        background-color: #00000080;
        text-align: center;
        font-size: 40px;
        padding: 10px;
        letter-spacing: 4px;
        color: #000000;
        text-shadow: 0 -6px 20px #ffffff80;
    }

    hr {
        width: 60%;
        margin: auto;
        box-shadow: 0 -2px 12px #ffffffaf;
        border: solid 1px #888888;
    }

    #skills {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        background-color: #00000080;
        padding: 2rem 1rem;
        gap: 1rem;
    }

    .card {
        width: 190px;
        height: 254px;
        background-image: linear-gradient(163deg, #00ffff 0%, #3700ff 100%);
        border-radius: 20px;
        transition: all 1s;
    }
       
        .border {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 190px;
            height: 254px;
            background-color: #1a1a1a;
            border-radius: 10px;
            transition: all 1s;
            overflow: hidden;
        }
       
            .border:hover {
                transform: scale(0.98);
                border-radius: 20px;
            }
            
            .card:hover {
                box-shadow: 0 0 30px 1px #0088884d;
            }

        .ofImg {
            padding: 1rem;
            height: 60%;
            display: flex;
            align-items: center;
        }

            .ofImg > img {
                width: 100%;
                border-radius: 20px;
                filter: drop-shadow( 0 0 6px #888888);
            }

        .foodCardskills {
            text-align: center;
            height: 10%;
            padding: 1rem;
            letter-spacing: 1px;
        }

    #proyects {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        background-color: #00000080;
        padding: 2rem 1rem;
        gap: 1rem;
    }

        #proyects > a {
            text-decoration: none;
            color: #ffffff;
        }

        .cardProyect {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 220px;
            height: 315px;
            border-radius: 10px;
            padding: 1rem;
            box-shadow: 15px 15px 30px #191919, -15px -15px 30px #292929;
            transition: all 1s;
        }

            .cardProyect:hover {
                transform: scale(1.08);
            }


@keyframes bounce {
    0% {
      transform: translate3d(0, 0, 0);
      text-shadow: #7e7e7e 0 0 0.05em;
    }
    100% {
      transform: translate3d(0, -1em, 0);
      text-shadow: #7e7e7e 0 1em 0.35em;
    }
}

            #greetingTXT > h2 {
                padding: 8px;
                background-color: #000000c0;
                border-radius: 10px;
                font-size: 35px;

            }

            #greetingTXT > h3 {
                font-size: 25px;
            }

@media screen and (max-width: 960px) {
        #greeting {
            flex-direction: column;
        }

            #myFace {
                width: 170px;
            }

    #aboutMe {
        padding: 1rem;
    }

        #aboutMe > img {
            display: none;
        }
        
        #aboutMetxt {
            border-radius: 10px;
            background-color: #aaaaaa;
            gap: 10px;
        }

}

@media screen and (max-width: 600px) {
            #greetingTXT {
                align-items: center;
                gap: 0;
            }

                #greetingTXT > h2 {
                    font-size: 30px;
                }

                #aboutMetxt > h1 {
                    font-size: 25px;
                }

                #aboutMetxt > p {
                    font-size: 12px;
                }
            


}